# Python â€“ The new generation Language
 

Python designed by Guido van Rossum at CWI has become a widely used general-purpose, high-level programming language.

Prerequisites:

Knowledge of any programming language can be a plus.

# Interpreter and Compiler

We generally write a computer program using a high-level language. A high-level language is one which is understandable by us humans. It contains words and phrases from the English (or other) language. But a computer does not understand high-level language. It only understands program written in 0's and 1's in binary, called the machine code. A program written in high-level language is called a source code. We need to convert the source code into machine code and this is accomplished by compilers and interpreters. Hence, a compiler or an interpreter is a program that converts program written in high-level language into machine code understood by the computer.

The difference between an interpreter and a compiler is given below:

![Interpeter](Untitled.jpg)

# Data Types
Data types are nothing but variables you use to reserve some space in memory. Python variables do not need an
explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a
variable.

In [ ]:
Compiler based language
Code ---> Compile ---> Outputfile/Exe file --> Run --> program output
C, C++, JAVA, SCALA

Interpreter Based Language
Code --> Run --> execute line by line --> output
Python, Pearl, Javascript, c#

In [ ]:
# JAVA or ,C , C++
int a
a =10 
a="java"#java or c++
String s="Java"
s=10 # error

In [ ]:
a=101
print (a)
a="python"
print(a) #  shift + enter

In [ ]:
a=10.0  # float
print (a)# shift + ente

In [ ]:
s="python"
print (s)

In [ ]:
s=True
print (s)

In [ ]:
s=False
print (s)
print(10)

In [ ]:
s= None # case Sensitive
print(s)
s="python"
print(s)

In [ ]:
x=337
y=2
z=23
a=23
b=2
x=337
# Ram location 2323232
# ref count 0
# RAM : 454545454 Ref counter 0
# Garbage collector
# REFERENCE SCHEMENTICS

![Interpeter](Reference.jpg)

#### Assignment Operator
It always works frol Right hand side to Left hand side

In [9]:
x=10
print(x)

10

In [10]:
a=10
a=a+10+30
print (a)

50

In [11]:
a=30
b=10
a=b+20+a+40
print(a)

100

In [12]:
print(a*10)

1000

In [13]:
a=b=c=10 
print(a)
print(b)
print(c)

10
10
10

## Type operator
It returnes the type of a variable

In [14]:
a=100
print(type(a))

<class 'int'>

In [15]:
j=10.00
print (type (j))

<class 'float'>

In [16]:
s="python"
type(s)

str

In [17]:
s1='pyth'
print (type(s1))

<class 'str'>

In [18]:
x= True
print (type(x))
y= False
print (type(y))

<class 'bool'>
<class 'bool'>

In [19]:
k='10'
print (type(k))
print (k)

<class 'str'>
10

In [20]:
a='a123'
type(a)

str

In [21]:
boo2= "False"
print (type(boo2))

<class 'str'>

In [22]:
a123=88
s=a123
print(s)

88

In [23]:
a=None
type(a)

NoneType

### ID Operator
Returns the address of a variable

In [24]:
a=10
print (id(a))

2091726826064

In [25]:
b=10
print (id(b))

2091726826064

In [26]:
c=11
print (id(c))

2091726826096

In [27]:
k=10
print (id(k))

2091726826064

In [28]:
a=10
b=10.0
print (id(a))
print (id(b))

2091726826064
2091807352592

## IS Operator
Is operator-- If id is same for 2 variable it will return the true othewise false

In [29]:
a=10
print (id(a))
b=10
print (id(b))
print (a is b)

2091726826064
2091726826064
True

In [30]:
a=10
b=10.0
print (id(b))
print (id(a))
print (a is b)

2091807351760
2091726826064
False

In [31]:
a=10000
b=a
print (id(a))
print (id(b))

2091808022896
2091808022896

In [32]:
i=10
print (id(i))
j=11
print (id(j))
print (i is j)

2091726826064
2091726826096
False

In [33]:
l=10
k=10.0
m='10'
print (l is k)
print (l is m)

False
False

In [34]:
p="python"
q="Python"
r="python"
print (p is q)
print (p is r)

False
True

### == Operator
== operator - numeric values are same or not

In [35]:
i=10
j=10
print (i==j)

True

In [36]:
i=10
j=10.0
print ("Comparison operator i==j ",i==j)
print ("IS operator i is j", i is j)

Comparison operator i==j  True
IS operator i is j False

In [37]:
i=10
j=10.1
print (i==j)

False

In [38]:
i='10'
j=10
print (i==j)

False

In [39]:
s1="python"
s2="Python" # case sensitive
s3="Python" # case sensitive
print (s1 == s2)
print (s3 == s2)

False
True

### Swapping values of 2  Variable

a=40
b=50

after execution
a=50
b=40

##### Write a program to swap values of a and b
So after execution of program a should be 20
and b =10

In [ ]:
a=40
b=50
a=b # a =50
b=a # b=50
print (a)
print(b)

In [40]:
a=10
b=20
c=a # c=10
a=b  # a=20
b=c  # b=10
print(a)
print(b)# this is to explain the swapping

20
10

With out using 3rd variable

In [41]:
a=100
b=200
a=a+b    # a=100+200=300
b=a-b    # b=300-200=100
a=a-b    # a= 300-100=200
print("value of a :",a)
print("Value of b : ",b)

value of a : 200
Value of b :  100

In [ ]:
print(xyx)
xyx=10

### Comma operator

In [42]:
print("python learning")

python learning

In [43]:
a=100
print("Value of a is  ",a)

Value of a is   100

In [44]:
a,b=10,200
print("value of a ",a)
print ("value of b ",b)

value of a  10
value of b  200

In [45]:
a,b,c=10,20,100
print("value of a ",a)
print ("value of b", b)
print ("value of c", c)

value of a  10
value of b 20
value of c 100

#### Swapping values again

In [46]:
a=10.0
b=33
a,b = b,a  # a,b = 33,10.0
print("value of a ",a)
print ("value of b", b)

value of a  33
value of b 10.0

## Plus operator
![Interpeter](plusoperator.png)

In [47]:
print (10+20)

30

In [48]:
print (10+20.0)

30.0

In [49]:
print (10.0+20.0)

30.0

In [50]:
print ("Python"+" Scala")

Python Scala

In [51]:
print ("Python"+10)

TypeError: can only concatenate str (not "int") to str

In [52]:
print ("Python"+"10")

Python10

## Multiplication operator
![Interpeter](multiplication.png)

In [53]:
print (10*20)

200

In [54]:
print (10*20.0)

200.0

In [55]:
print (10.0*20.0)

200.0

In [56]:
print ("python "*5)

python python python python python

In [57]:
print (5*"python ")

python python python python python

In [58]:
a='python'*5
print(a)
# print ('5'*"python")

pythonpythonpythonpythonpython

### Modulus operator %
Gives the reminder
![Interpeter](01_Division.gif)

In [59]:
# print (4%4)
5/4

1.25

In [60]:
5%4

1

In [61]:
10%3

1

In [62]:
3%10   # if dividend is smaller than divisor than dividend will be reminder

3

In [63]:
3333%1000000

3333

### Power **

In [64]:
a=10
b=3
print (a**b)

1000

In [65]:
print (2**-3) #(1/8)

0.125

#### Absolute function
returns absolute value of a number( convert to positive value)
abs(x)

In [66]:
print( abs (+10-30))
print (abs (-10000))
print (abs(10)) 
print (abs(-10+30))

20
10000
10
20

### Formatted Output
* %d for integer
* %s for strings
* %r for raw
* %f for float

In [67]:
st="python"
print ("Directory changed successfully " +st + " to the home directory")

Directory changed successfully python to the home directory

In [68]:
st="python"
st1="java"
print ("String value: %s Integer value is : %d  Float value is : %f" %(st1,10,10.9))

String value: java Integer value is : 10  Float value is : 10.900000

In [69]:
months = "\nJan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug"
print ("Here are the months: %s" % months)

Here are the months:
Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [70]:
months = "\nJan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug"
print ("Here are the months: %r" % months)

Here are the months: '\nJan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug'

In [72]:
print ("String value: %.4f" %(10.123456))

String value: 10.1235

In [74]:
a= "python automation"
b=30.0
print(f'I am here to learn  {a} it takes {b} hours to study ')
x=f'{a}{b}'
print(x)

I am here to learn  python automation it takes 30.0 hours to study
python automation30.0

In [75]:
val = "a"  # A=65, B=66, C=67....a=97 , b= 98 , c =99
print(f"The ASCII value of {val} is {ord('a')}")
print(f"The ASCII value of {val} is {a}")

The ASCII value of a is 97
The ASCII value of a is python automation

In [76]:
x= ord('*')
print("The ASCII value of * is ",x )

print(f"The ASCII value of * is {ord('*')}")
print(f"The ASCII value of a is {ord('a')}")
print(f"The ASCII value of A is {ord('A')}")

The ASCII value of * is  42
The ASCII value of * is 42
The ASCII value of a is 97
The ASCII value of A is 65

In [77]:
# print (chr(69))
# print (chr(97))
a= 97
print (chr(88))

X

In [78]:
print(bin(173))

0b10101101

In [ ]:
import sys

# Create a variable
my_variable = 10
another_variable = my_variable
another_variable1 = my_variable

# Get the reference count
ref_count = sys.getrefcount(my_variable)

# Subtract 1 to account for the temporary reference added by getrefcount
actual_ref_count = ref_count - 1

print(f"Reference count of my_variable: {actual_ref_count}")

In [ ]:
len
del
min
max
sum
clear
pop
remove
copy

### Assignments
1. Compiler vs interpreter based language
2. How a C program compiled
3. C program memory structure
4. How to swap 2 variables( apart from , and +/- operator)
4. Create GIT account

In [ ]:
# print('"'"vfvf"'"')
s="Pop2"
s==s[::-1]

In [ ]:
print("hello")

In [ ]:
# Start with 1, discard 2 and move to 3 and discard 4 and move to 5 discard 6 
# . Keep going on till 100 in a circular way until you left with 1 number at last
l=[1,2,3,4,5]
l2=l[::-1]
while len(l2)>1:
    del l2[len(l2)%2::2]
    print(l2)
print(l2)

# while

In [ ]:
import ctypes
my_var = 10
my_var1 = 10
my_var_address = id(my_var)
ctypes.c_long.from_address(my_var_address).value

In [ ]:
arr=[1,2,3,4,5]
s_arr=[]
while (s_arr.length==1):
    i=0
    while (i<arr.length):
        s_arr.push(arr[i])
        i+=2
        arr=s_arr.reverse
  s_arr=arr 
print(arr)

In [ ]:
arr=[1,2,3,4,5]
s_arr=[]
until s_arr.length == 1
  s_arr = []
  i=0
  while i < arr.length
    s_arr.push(arr[i])
    i+=2
  arr=s_arr.reverse
print (arr)

In [ ]:
arr=[1,2,3,4,5]
s_arr=[]
i=0
while i < len(arr):
    s_arr.append(arr[i])
    i+=2
print (s_arr)

In [ ]:
l=[1,2,3]
len(l)

In [ ]:
s= r"\"abc\""
s

In [ ]:
s = '"abc"'

In [ ]:
s

In [ ]:
s.replace("\"",'')
s

In [ ]:
s.replace('a', 'b')
s

In [ ]:
s.replace('\"', '')
s

In [ ]:
s = '"abc"'
s

In [ ]:
s.replace('"', '')