# Lists:

You can use these when you need a collection of similar/non similar items. Suppose you are making a program that randomly picks a name from a hat. You could do something like this:

### in square brackets [ ]
### sequential- It has oredering and index 
index starts from 0
### mutable
### Contains any kind of data
Example of list <br>
list1=[1,2,3]<br>
listexample = [17, 123, "python", [1,2,3], 6.0,True]<br>
s="python"

In [ ]:
vegetable=["Potato", " Onion", "Ginger", "caabbage"]
vegmix= ["Potato", "onion",2] 

list1=[1,2,3,3.0,'java',True]

listInList = [17, 123, "python", list1, 6.0]

listInList

In [4]:
a=[]
print(type(a))

<class 'list'>

In [3]:
a=list()
print(type(a))
print(a)

<class 'list'>
[]

In [5]:
n = [17, 123, "python", "java", [1,2,3], 6.0]
print(n)

[17, 123, 'python', 'java', [1, 2, 3], 6.0]

In [6]:
len(n)

6

In [7]:
n[0]

17

In [8]:
n[4]

[1, 2, 3]

In [9]:
n[3][0]

'j'

In [10]:
n[4][1]

2

In [11]:
numbers = [715555, "123", "python", "java", [1,2,3], 6.0]
#            0        1     2          3       4      5

In [12]:
numbers[1][0]

'1'

In [13]:
numbers[0][0]# iterable object

TypeError: 'int' object is not subscriptable

# Mutable
List is mutable object

In [14]:
s="python"
s[0]="q"
print(s)

TypeError: 'str' object does not support item assignment

In [15]:
numbers=[500, 123, 'python', 'java', ['javascript', 2, 3], 6.0]
numbers[0]=200
print(numbers)

[200, 123, 'python', 'java', ['javascript', 2, 3], 6.0]

In [16]:
numbers[2][0]="q"
numbers

TypeError: 'str' object does not support item assignment

In [17]:
numbers=[500, 123, 'python', 'java', ['javascript', 2, 3], 6.0]
numbers[2]="q"
numbers

[500, 123, 'q', 'java', ['javascript', 2, 3], 6.0]

In [20]:
numbers[4][0]=1000
numbers

[500, 123, 'q', 'java', [1000, 2, 3], 6.0]

In [ ]:
numbers=[200, 123, 'python', "java",'java', ['q', 2, 3], 6.0]

In [21]:
l1=[1,2,3]
l2=l1.copy()
l2

[1, 2, 3]

In [22]:
l1 is l2

False

In [23]:
l1==l2

True

In [24]:
list1=[45,89,0]
list2=list1
print(list2)
print(list1)

[45, 89, 0]
[45, 89, 0]

In [25]:
print(list1 is list2)

True

In [26]:
list1==list2

True

In [27]:
list1=[45,89,0]
list2=list1
print(list2)
list1[0]=4
print(list1)
print(list2)

[45, 89, 0]
[4, 89, 0]
[4, 89, 0]

In [28]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [29]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### Append
It adds the element at the end of a list

In [ ]:
s="python"
l=[4,5,100]
num=10000
boo=True

In [30]:
numbers = [17, "java", [1,2,3]]
numbers.append("python")
print(numbers)

[17, 'java', [1, 2, 3], 'python']

In [31]:
numbers.append([0,1,2])
numbers

[17, 'java', [1, 2, 3], 'python', [0, 1, 2]]

In [32]:
numbers.append(1)
numbers

[17, 'java', [1, 2, 3], 'python', [0, 1, 2], 1]

### Extend
It adds at the end , but only iterable objects...
It seprateout the iterable object in the individual element and than it will add.

In [33]:
numbers = [17, "java", [1,2,3]]
numbers.extend("Python")
numbers

[17, 'java', [1, 2, 3], 'P', 'y', 't', 'h', 'o', 'n']

In [34]:
numbers.extend([100,101,102])
numbers

[17, 'java', [1, 2, 3], 'P', 'y', 't', 'h', 'o', 'n', 100, 101, 102]

In [35]:
numbers

[17, 'java', [1, 2, 3], 'P', 'y', 't', 'h', 'o', 'n', 100, 101, 102]

In [36]:
numbers.extend(100)
numbers

TypeError: 'int' object is not iterable

In [37]:
numbers.extend("a")
numbers

[17, 'java', [1, 2, 3], 'P', 'y', 't', 'h', 'o', 'n', 100, 101, 102, 'a']

In [38]:
numbers.extend("123")
numbers

[17,
 'java',
 [1, 2, 3],
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 100,
 101,
 102,
 'a',
 '1',
 '2',
 '3']

In [39]:
num_list = [1, 2, 3, 4, 5]
index=4
num = "Insert me"
print(f'Initial Numbers List {num_list}')

# num_list.insert(index, num)
num_list.insert(4, "insert me")

print(num_list)
num = [5,6,7]

print(f'Updated Numbers List {num_list}')

Initial Numbers List [1, 2, 3, 4, 5]
[1, 2, 3, 4, 'insert me', 5]
Updated Numbers List [1, 2, 3, 4, 'insert me', 5]

In [40]:
num_list = [1, 2, 3, 4, 5,1,1]
print(num_list.count(1))

3

# Pop- Removes and returns, so that we are not loosing that value

In [41]:
list1=[0,1898,100,2,3,"python","java"]

In [42]:
x=list1.pop() # remove last element  of list if we do not mention index
print(f"The popped element x is : {x}")
print (f"After Pop the changed the list is \n{list1}")

The popped element x is : java
After Pop the changed the list is
[0, 1898, 100, 2, 3, 'python']

In [43]:
list1=[0,1898,100,2,3,"python","scala"]
x=list1.pop()
print(list1)
print(x)

[0, 1898, 100, 2, 3, 'python']
scala

In [46]:
list1=[0,1898,100,2,3,"python","jaava"]

In [44]:
x=list1.pop(2)
print(" The popped element is x : ",x)
print (" After Pop the changed the list is ",list1)

 The popped element is x :  100
 After Pop the changed the list is  [0, 1898, 2, 3, 'python']

In [ ]:
list1

In [45]:
a=[100,1,200,2,3,"python","jaava",[1,2],"python"]
a.remove("python")
print (f" After remove the changed the list is \n{a}")

 After remove the changed the list is
[100, 1, 200, 2, 3, 'jaava', [1, 2], 'python']

In [ ]:
a = [100, 1, 200, 2, 3, "python", "jaava", [1, 2], "python"]
for i in range(a.count("python")):
    a.remove("python")
a.remove("python")

print(a)

In [46]:
a.remove([1,2])
a

[100, 1, 200, 2, 3, 'jaava', 'python']

In [47]:
a=[0,1,0,2,3,"python","jaava",[1,2,3]]
a.reverse()
print(a)

[[1, 2, 3], 'jaava', 'python', 3, 2, 0, 1, 0]

In [48]:
a=[0,1,0,2,3,"python","jaava",[1,2,3]]
print(a[::-1])

[[1, 2, 3], 'jaava', 'python', 3, 2, 0, 1, 0]

In [ ]:
How to reverse a string??
s[::-1]

# Sorting ( Ascending order)

# number < Special Char<  capital letter < small letter

In [49]:
# @ #....A= 65 , a =97
a=["Python","1python"]
a.sort()
a

['1python', 'Python']

In [50]:
a=['scala',"jaava", 'python']
print(a.sort())
print(a)

None
['jaava', 'python', 'scala']

In [51]:
a=['scala','jaava','@123ab', 'Python','Java',"1java"]
a.sort()
a

['1java', '@123ab', 'Java', 'Python', 'jaava', 'scala']

In [ ]:
ord('1')

In [52]:
a=['scala','jaava',123, 'Python']
a.sort()
a

TypeError: '<' not supported between instances of 'int' and 'str'

In [53]:
a=[100,23, 500]
a.sort()
a

[23, 100, 500]

In [54]:
a=[100,23, 500]
a.sort(reverse=True)
a
# a    L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*

[500, 100, 23]

In [ ]:
help(str)

# string --> list
# list----> string

# split
# join

In [57]:
s="python"
list1= ['p', 'y', 't', 'h' ,'o' ,'n']

In [55]:
l=['1','2','4']#'124'
''.join(l)

'124'

In [56]:
l=['1','2','4']#'124'
x=' '.join(l)
print(x)

1 2 4

In [57]:
list1= ['p', 'y', 't', 'h' ,'o' ,'n']
s='**'.join(list1)
s

'p**y**t**h**o**n'

In [58]:
'$$$'.join(list1)

'p$$$y$$$t$$$h$$$o$$$n'

In [59]:
list1= ['p', 'y', 't', 'h' ,'o' ,'n',66]
y='**'.join(list1)
y

TypeError: sequence item 6: expected str instance, int found

In [60]:
a=["python","jaava","scala"]
''.join(a)

'pythonjaavascala'

In [61]:
' '.join(a)

'python jaava scala'

In [62]:
s='$$*'.join(a)
print(s)

python$$*jaava$$*scala

In [63]:
print(' : '.join(a))

python : jaava : scala

In [64]:
s = "python jaava scala"
s.split()

['python', 'jaava', 'scala']

In [65]:
s = "python : jaava : scala"
l=s.split(' : ')
print(l)

['python', 'jaava', 'scala']

In [66]:
s = "python : jaava : scala"
l=s.split(' ')
l

['python', ':', 'jaava', ':', 'scala']

In [67]:
s= 'python$$*jaava$$*scala'
print(s.split('$$*'))
# print(s.split('$'))

['python', 'jaava', 'scala']

In [68]:
s1= '123'
print(s1.split('2'))

['1', '3']

In [69]:
list1=["javascript","java","python", "scala",'1']
list1[0:3]

['javascript', 'java', 'python']

In [70]:
list1[:4]

['javascript', 'java', 'python', 'scala']

In [71]:
list1[::-1]

['1', 'scala', 'python', 'java', 'javascript']

In [72]:
lis = [2, 1, 3, 5, 4]
print (min(lis))

1

In [73]:
lis = [2, 1, 3, 5, 4.0, "abc"]
min(lis)

TypeError: '<' not supported between instances of 'str' and 'int'

In [74]:
lis = ["b","a", "abc",]
min(lis)

'a'

In [75]:
lis = [2, 1, 3, 5, 4.0]
max(lis)

5

In [76]:
lis = [2, 1, 3, 5, 4.0]
sum(lis)

15.0

In [77]:
# special char < number < capital letter < small letter
# a=97 , A- 65
lis = ['2', '1','3']
max(lis)

'3'

In [78]:
# a=97 , A- 65

lis = ['a', 'b','c','A']

max(lis)

'c'

In [79]:
# number < capital letter < small letter
lis = ['2', '1','3',"abc",'A']
print(max(lis))

abc

In [ ]:
min(lis)

In [80]:
# lis = [2, 1,3.8]
lis = ['abc', 'def','ghi']
sum(lis)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [81]:
list_data = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1,"python","python"]
list_data.index("python")

10

In [82]:
lis = [1, '4', 3, 2, 5]
'4' in lis

True

In [83]:
4 not in lis

True

In [84]:
"p" in "python"

True

In [85]:
"r" in "python"

False

Any sequence (or iterable) can be unpacked into variables using a simple assignment
operation. The only requirement is that the number of variables and structure match
the sequence.

In [86]:
# data = name, shares, price, date
# name, shares, price, date=['ACME', 50, 91.1, 2012]
data = [ 'ACME', 50, 91.1,2012]

name, shares, price, date = data

# name, shares, price, date = ['ACME', 50, 91.1, 2012]

print(f'name : {name}')

print(f'shares: {shares}')

print(f'price {price}')

print(f'date {date}')

name : ACME
shares: 50
price 91.1
date 2012

In [87]:
s="python"
a,b,c,d,e,f=s


print(a)
print(b)
print(c)
print(d)
print(e)

p
y
t
h
o

In [88]:
data = [ 'ACME', 50, 91.1,2012]
a,b=data

ValueError: too many values to unpack (expected 2)

In [ ]:
l1=[123,3,3433]
l2=l1
print (f"l2 value {l2}")
print (f"l1 value {l1}")
print ("l2 ID",id(l2))
print ("l1 ID",id(l1))

In [ ]:
l2=[123,3]
print ("l2 ID",id(l2))
print ("l1 ID",id(l1))
print (f"after change l2 value {l2}")
print (f"after l1 value {l1}")

In [ ]:
l1=[123,3,3433]
l2=l1
l1[0]=100
print(f"l2 {l2}")
print(f"l1 {l1}")

In [ ]:
l1=[123,3,3433]
l2=l1.copy()
print (f"l2 value {id(l2)}")
print (f"l1 value {id(l1)}")
l1[0]="x"
print(f"l1 is {l1}")
print(f"l2 is {l2}")

In [ ]:
l = [1, 2, 3]  # Create a list 'l' with elements 1, 2, and 3
l2 = [1, 2, l]  # Create a list 'l2', which contains 1, 2, and the list 'l'
print(l2)  # Print the list 'l2'
l[0] = 100  # Modify the first element of list 'l'
print(l2)  # Print the list 'l2' again after modifying 'l'

# Assignment  
* For a list ["foo", "bar", "baz"] add an item in the list "bar",
 what's the cleanest way to get its index (1) in Python?
* Best way to check if a list is empty
* Getting the last element of a list in Python
* How to clone or copy a list?
* How can I count the occurrences of a list item in Python?
* How do I remove the first Item from a Python list?
* Write a program to create a buffer of length 5

In [ ]:
numbers=[200, 123, 'python', "java",'java', 6.0, 'python',200]
result=[200,123,'python','java' , '6.0']

In [ ]:
help('modules')

In [ ]:
vlans1=['!command:', '!Time','version....','valanc....','....','valna 130', 'name AHKZMI' , 'mode fabricapath' ]
vlans2=['!command:', '!Time','version....','valanc....','....','valna 130', 'name AHKZMI' , 'mode fabricapath' ]

for x in vlans1 :
    if vlans1[x]==vlans2[x]:
        print ("its matching")
    else:
        print (vlans1[x] + 'and' +'vlans2[x]'+ " is not matching ")
        break

In [ ]:
vlans1=[' sh run vlan 159\r', '', '!Command: show running-config vlan 159', '!Time: Sat Jul  7 00:40:22 2018', '', 'version 7.1(4)N1(1c)', 'vlan configuration 159', '', '\rKC1DD10-RED#']
vlans2=[' sh run vlan 159\r', '', '!Command: show running-config vlan 159', '!Time: Sat Jul  7 00:40:25 2018', '', 'version 7.1(4)N1(1c)', 'vlan configuration 159', 'vlan 159', '  name MCVHVA_RAC', '  mode fabricpath', '', '\rKC1DD10-BLUE#']


common_elements=[]
for i in list(itertools.product(a,b)):
    if i[0] == i[1]:
        common_elements.append(i[0])
print (common_elenents)
        
        
        
# def vlan_comp(switch,switch2):
#     print ("I am in side compare function")
# #     print (switch)
# #     print(switch2)
#     missing = []
# #     for x in switch:
# #         print (x)
#     for x in range(len(switch)-1):
#         match = False
        
#         if switch[x] == switch2[x]:
#                 match = True
#         if match == False:
#             missing.append(switch[x] +"is not matching with "+ switch2[x])
#     return missing


# result1 = vlan_comp(vlans2,vlans1)
# result2 = vlan_comp(vlans1,vlans2)
# # print "switch1 : " ,switch1
# # print "switch1 : " ,switch1

In [ ]:
a=[' sh run vlan 159\r', '', '!Command: show running-config vlan 159', '!Time: Sat Jul  7 00:40:22 2018', '', 'version 7.1(4)N1(1c)', 'vlan configuration 159', '', '\rKC1DD10-RED#']
b=[' sh run vlan 159\r', '', '!Command: show running-config vlan 159', '!Time: Sat Jul  7 00:40:25 2018', '', 'version 7.1(4)N1(1c)', 'vlan configuration 159', 'vlan 159', '  name MCVHVA_RAC', '  mode fabricpath', '', '\rKC1DD10-BLUE#']

def returnNotMatches(a, b):
    a = set(a)
    b = set(b)
    return list(b - a)


switch name is 
l=returnNotMatches(a, b)
print( "-----------the configuration differene from a to b is------- ")
print ('\n'.join(l))
l2= returnNotMatches(b, a)
print( "--------------the configuration differene from b to a is--------- ")
print ('\n'.join(l2))

In [ ]:
l =["banana","apple"]
l[-2]

In [ ]:
l=[]
type(l)
l=

In [ ]:
l=[1,2]
type(l)

In [ ]:
l=list()
type(l)