### User INPUT

In [ ]:
# s="javasciprt"
s="machine learning"
print(s[::-1])

In [ ]:
print ("enter your name ")
your_name=input()
print ("your name is "+your_name)

In [ ]:
string_to_reverse=input()
print(f"Reverse of input {string_to_reverse[::-1]}")

In [ ]:

x= input("Enter data for input type for testing ")
print (f"type of {x} is : {type(x)} ")

In [8]:
# newDataType(variableToTypeCast)
# Assume i is a variable
# int(i)
# string(i)
# float(i)
# ===================
i=10000 #'10000"

j =str(i) # 

print(type(j))

<class 'str'>

In [9]:
print (j[0])
print (j[1])
print (j[2])
print (j[3])
print (j[4])

1
0
0
0
0

In [10]:
i=10.0
j=str(i)
print (type(j))
print (j)

<class 'str'>
10.0

In [11]:
print (j[0]) #"10.0"
print (j[1])
print (j[2])
print (j[3])

1
0
.
0

In [12]:
a="h"
print (int(a))

ValueError: invalid literal for int() with base 10: 'h'

In [13]:
st="1000"

In [14]:
x=int(st)
print (x)
print (type(x))

1000
<class 'int'>

In [15]:
s=100.6

In [16]:
int(s)

100

In [17]:
s="+"
int(s)

ValueError: invalid literal for int() with base 10: '+'

In [18]:
int('.')

ValueError: invalid literal for int() with base 10: '.'

In [19]:
i=1000
j=float(1000)
print(j)

1000.0

In [20]:
s='10'
j=int(s)
j

10

In [21]:
# s= " 100a0"
s="100.0" # important interview question
# j=int(s)
# print(j)
# s= "Python learning is fun."
print(int(s))
# Str ---> Float ---> Int

ValueError: invalid literal for int() with base 10: '100.0'

In [22]:
x="100.1"
int(float(x))

100

In [23]:
s="python,django,flask"
listconverted=s.split(',')
print(listconverted)

['python', 'django', 'flask']

##### Taking multiple inputs

In [24]:
x,y,z=[1,2,3]
x,y,z= input("enter value: ").split()#1 2 3 [1,2,3]
# x,y,z= input("enter value: ")#1 2 3 [1,2,3]
print(x)
print(y)
print(z)

2
5
6

In [25]:
a,b,c=input("Please enter the age of 3 people in one line using commas\n").split(',')
print(a)
print(b)
print(c)

34
44
55

In [26]:
x=input()
a,b,c=x.split(',')
print(a)
print(b)
print(c)

6
6
6

In [27]:
print("hello")# print("hello", end="\n")
print("world")
print("python")

hello
world
python

In [28]:
print("Hello, ", end="\n")
print("world",end="\n")

Hello,
world

In [29]:
print("Hello ", end=" ===== ")
print("world",end=" *** ")
print("python")
print("django")

Hello  ===== world *** python
django

In [30]:
print("Hello ", end=" BREAK ")
# print("world", end=" python ")
print("world python")
print("Selenium")
print("Learning")

Hello  BREAK world python
Selenium
Learning

PEMADS
()
**
* /
+ -

In [31]:
3 * 3 + 3 / 3 - 3 # 9+1-3

7.0

#### Convert previous assignment into user input form

## Assignment 1
Write a program that adds the digits in a 2 digit number. e.g. if the input was 35, then the output should be 3 + 5 = 8

Your program should work for different inputs. e.g. any two-digit number.

Example Input
39
Example Output
3 + 9 = 12

12

Hint
Try to find out the data type of two_digit_number.
Think about what you learnt about subscripting.

# Assignment 2
Write a program that calculates the Body Mass Index (BMI) from a user's weight and height.

The BMI is a measure of some's weight taking into account their height. e.g. If a tall person and a short person both weigh the same amount, the short person is usually more overweight.

The BMI is calculated by dividing a person's weight (in kg) by the square of their height (in m):

#### Example Input
weight = 80
height = 1.75
#### Example Output
80 รท (1.75 x 1.75) = 26.122448979591837

26

### Assignment 3

I was reading this article by Tim Urban - Your Life in Weeks and realised just how little time we actually have.

https://waitbutwhy.com/2014/05/life-weeks.html

Create a program using maths and f-Strings that tells us how many days, weeks, months we have left if we live until 90 years old.

It will take your current age as the input and output a message with our time left in this format:

You have x days, y weeks, and z months left.

Where x, y and z are replaced with the actual calculated numbers.

Warning your output should match the Example Output format exactly, even the positions of the commas and full stops.

#### Example Input
56
#### Example Output
You have 12410 days, 1768 weeks, and 408 months left.

#### Hint
There are 365 days in a year, 52 weeks in a year and 12 months in a year.
Try copying the example output into your code and replace the relevant parts so that the sentence is formated the same way.