# LOOPS

![Interpeter](05_Forloop.png)

In [1]:
i =1 # initialization
while (i <= 5):#condition
    print (f"{i} Hello world") # body of the loop
    i = i+1 # increment

1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world

In [2]:
i =0
while (i <4):    #condition
	print ("Hello world")
	i = i+1

Hello world
Hello world
Hello world
Hello world

In [3]:
i=6
while (i >=1):
    print ("Hello Geek")
    i=i-1

    
print("i am out")

Hello Geek
Hello Geek
Hello Geek
Hello Geek
Hello Geek
Hello Geek
i am out

In [4]:
3 in [0,1,2,3,4]

True

In [5]:
5 in [0,1,2,3,4]

False

In [6]:
for x in "java": #0,1,2,3,
    print(x)
    print(x*2)
    print(x*3)

j
jj
jjj
a
aa
aaa
v
vv
vvv
a
aa
aaa

In [7]:
s="pytho n"
for x in s: # x in "pytho n"
    print (x)

p
y
t
h
o

n

In [8]:
for x in 10:
    print(x)

TypeError: 'int' object is not iterable

In [9]:
for x in '10':
    print(x)

1
0

In [10]:
for i in "java":
	print (i +" python")

j python
a python
v python
a python

In [11]:
words = ['Linux', 'window', 'mac']
for y in words:
    print (y)

Linux
window
mac

In [12]:
words = ['Linux', 'window', 'mac']
for y in words:
    print (y+" operating system")

Linux operating system
window operating system
mac operating system

In [13]:
for x in ['Linux', 'window', 'mac']:
     print( x,len(x))

Linux 5
window 6
mac 3

In [16]:
#Python 2.7 
# print(range(10))
# 0,1,2,3,4,5,6,7,8,9

for i in range(10):
    print(i)

# Python 3
# No xrange
# and Xrange of python 2.7 is conerted to range
print (range(2,20))

# print range(2,20,3)-->2,5,8,11,14,17
# print range(-10, -100, -30) ----> [-10,-40,-70]

0
1
2
3
4
5
6
7
8
9
range(2, 20)

In [17]:
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [18]:
for i in range(2,10):
    print (i)

2
3
4
5
6
7
8
9

In [19]:
for i in range(5):#[0,1,2,3,4]
    print ("python")

python
python
python
python
python

In [20]:
for i in range(2,10):#[2,3,4,5,6,7,8,9]
    print (i)
print("Here")

2
3
4
5
6
7
8
9
Here

In [21]:
a = ['Mary', 'had', 'xyz', 'little', 'lamb']
for i in [0,1,2,3,4]:
    print (i, a[i])

0 Mary
1 had
2 xyz
3 little
4 lamb

In [22]:
a = ['Mary', 'had', 'xyz', 'little', 'lamb']
for i in range(5):# for i in [0,1,2,3,4,]
	print (i, a[i])

0 Mary
1 had
2 xyz
3 little
4 lamb

In [23]:
a = ['Marry', 'had', 'xyz', 'little', 'lamb']
for i in range(len(a)): # range(5)--> [0,1,2,3,4]
    	print (i, a[i],len(a[i]))

0 Marry 5
1 had 3
2 xyz 3
3 little 6
4 lamb 4

In [24]:
n=0
for x in range(2, 5):#[2,3,4]
        print( "value of n" , n)
        print( "value of x" , x)
        print("*"*15)

value of n 0
value of x 2
***************
value of n 0
value of x 3
***************
value of n 0
value of x 4
***************

In [25]:
n=1
for x in range(2, 5):#[2,3,4]
        print( "value of n" , n)
        print( "value of x" , x)
        print("*"*15)

value of n 1
value of x 2
***************
value of n 1
value of x 3
***************
value of n 1
value of x 4
***************

In [26]:
n=2
for x in range(2, 5):#[2,3]
        print( "value of n" , n)
        print( "value of x" , x)
        print("*"*15)

value of n 2
value of x 2
***************
value of n 2
value of x 3
***************
value of n 2
value of x 4
***************

In [27]:
for n in range(0, 4):#n=3
    for x in range(2, 5):
        print( "value of n" , n)
        print( "value of x" , x)
        print("*"*15)
    print("#"*30)

value of n 0
value of x 2
***************
value of n 0
value of x 3
***************
value of n 0
value of x 4
***************
##############################
value of n 1
value of x 2
***************
value of n 1
value of x 3
***************
value of n 1
value of x 4
***************
##############################
value of n 2
value of x 2
***************
value of n 2
value of x 3
***************
value of n 2
value of x 4
***************
##############################
value of n 3
value of x 2
***************
value of n 3
value of x 3
***************
value of n 3
value of x 4
***************
##############################

In [28]:
for z in 'Mary':
    print (z)

M
a
r
y

In [29]:
words=['Mary', 'had', 'little', 'lamb']
for y in words:
    print(y)

Mary
had
little
lamb

In [ ]:
words=['Mary', 'had', 'little', 'lamb']
for y in words: #y =Mary
    for z in y: #z in Mary
        print (z)

In [30]:
words=['Mary', 'had', 'xyz', 'little', 'lamb']
for z in words:
        print (z)

Mary
had
xyz
little
lamb

### break statement
When a break statement executes inside a loop, control flow "breaks" out of the loop immediately:
The loop conditional will not be evaluated after the break statement is executed. Note that break statements are
only allowed inside loops, syntactically. A break statement inside a function cannot be used to terminate loops that
called that function.

In [31]:
for i in (0, 1, 2, 3, 4,5):
    print(i)
    if i == 3:
        break
print ("outside loop")

0
1
2
3
outside loop

In [32]:
for i in (0, 1, 2, 3, 4):
    print(i)
    break
print ("outside loop")

0
outside loop

In [33]:
for i in (0, 1, 2, 3, 4):
    if i == 2:
        break
    print(i)
print ("outside loop")

0
1
outside loop

In [34]:
for letter in 'geeksforgeeks':
    if letter ==  'g':
    	break
    print('Current Letter :', letter)
print ("outside loop")

outside loop

### continue statement
A continue statement will skip to the next iteration of the loop bypassing the rest of the current block but
continuing the loop. As with break, continue can only appear inside loops:

In [35]:
for i in (0, 1, 2, 3, 4, 5):
    if i == 2 or i == 4:
        continue    
    print(f"{i} Python Learning")
print ("outside loop")

0 Python Learning
1 Python Learning
3 Python Learning
5 Python Learning
outside loop

In [36]:
for letter in 'geeksf':
    print ('Before continue :', letter)
    if letter == 'k' or letter == 's':
    	continue
    print('Current Letter :', letter)
print ("outside loop")

Before continue : g
Current Letter : g
Before continue : e
Current Letter : e
Before continue : e
Current Letter : e
Before continue : k
Before continue : s
Before continue : f
Current Letter : f
outside loop

In [ ]:
for x in 'geeksforgeeks':
    pass
#     print("hello") 
     

print (x)

#### The Pass Statement
pass is a null statement for when a statement is required by Python syntax (such as within the body of a for or
while loop), but no action is required or desired by the programmer. This can be useful as a placeholder for code
that is yet to be written.

In [ ]:
print (x)

The for and while compound statements (loops) can optionally have an else clause (in practice, this usage is fairly
rare).
The else clause only executes after a for loop terminates by iterating to completion, or after a while loop
terminates by its conditional expression becoming false.

In [37]:
for i in range(3):
    print("enter password")
else:
    print('contact to admin')

enter password
enter password
enter password
contact to admin

The else clause does not execute if the loop terminates some other way (through a break statement or by raising
an exception):

In [38]:
for i in range(2):#[0,1]
    print(i)
    
    if i == 1:
        break
    else:
        print("inside for")
else:
    print('BREAK: I will not be executed as loop will get break')
print("i am after else")

0
inside for
1
i am after else

In [39]:
for i in range(5):
    print(i)
    if i >1:
        print("i am in if condition")
        break
    
else:
    print('I am part of else and getting executed because the loop is not break')
    
print('outside')

0
1
2
i am in if condition
outside

In [40]:
for i in range(2):
    print(i)
else:
    print('I am part of else and getting executed because the loop is not break')

print('outside')

0
1
I am part of else and getting executed because the loop is not break
outside

In [ ]:
numbers = [1,2,3,4,5]

i = 0
while i < len(numbers): # i<5 
    print (numbers[i])
    i=+1

for i in numbers: # range(5)
    print (i)

If you want to loop though both the elements of a list and have an index for the elements as well, you can use
Python's enumerate function:

In [ ]:
NumList = [5,84,56,35]
Number = len(NumList)
i = 0
while(i < Number):
    j = i + 1
    print(f"NumList[i] {NumList[i]} : {i}")
    print(f"NumList[j] {NumList[j]}: {j}")
    while(j < Number):
        if(NumList[i] > NumList[j]):
            print(" i am in if condition as i have to swap ")
            temp = NumList[i]
            NumList[i] = NumList[j]
            NumList[j] = temp
        j = j + 1
    i = i + 1

print("Element After Sorting List in Ascending Order is : ", NumList)

In [ ]:
******
******
******
******

## Assignment

1) Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).


2) The numbers obtained should be printed in a comma-separated sequence on a single line.
Hints: 
Consider use range(#begin, #end) method

Given a string s containing just the characters '(', ')', '{', '}', '[' and ']', determine if the input string is valid.

An input string is valid if:

Open brackets must be closed by the same type of brackets.
Open brackets must be closed in the correct order.
 

Example 1:

Input: s = "()"
Output: true
Example 2:

Input: s = "()[]{}"
Output: true
Example 3:

Input: s = "(]"
Output: false
Example 4:

Input: s = "([)]"
Output: false
Example 5:

Input: s = "{[]}"
Output: true
 

Constraints:

1 <= s.length <= 104
s consists of parentheses only '()[]{}'.

In [ ]:
l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print ','.join(l)

In [ ]:
for i in range(0, 5):
    # inner loop to handle number of columns
    # values changing acc. to outer loop
    for j in range(0, i+1):
        # printing stars
        print("* ",end="")
    # ending line after each row
    print("\r")

In [ ]:
# i = 1
# while i != 6:
#     print("*"*i)
#     i = i + 1
    
i = 1
x = int(input("enter how many starts you want "))
for i in range(1,x+1):
    print(" "*(x-i) + "*"*i)

In [ ]:
i = 1
x = int(input("enter how many starts you want "))
for i in range(1,x+1):
    print("*"*i)

In [ ]:
i = 1
x = int(input("enter how many starts you want "))*2
for i in range(i,int(x/2) + 1):
    print(" "*x + "* "*i)
x = x -1

In [ ]:

x = int(input("Enter a number "))
i = 1
r = 1
q = str()
for i in range(1,x+1):
while r <= i:
r = str(r)
q = str(q) + r
r = int(r) + 1
print(q)
q = ""
r = int(1)
i = i + 1

In [ ]:
Program to calculate the factorial
5
fact(5)= 5*4*3*2*1

4

In [ ]:
# 5.What will be the output of the following Python code?

def maximum(x, y):
    if x > y:
        return x
    elif x == y:
        return 'The numbers are equal'
    else:
        return y
 
print(maximum(2, 3))

In [ ]:
def a():
    print("a")
x=a()
print (x)