## Tuple
Immutable list
() is used 
A tuple is an immutable list of values. Tuples are one of Python's simplest and most common collection types, and
can be created with the comma operator (value = 1, 2, 3).

In [3]:
l=list()#[]
t=tuple()#()

In [4]:
data1=[1,2,3,"python",[3,3,0]]
t=(10,20,'ram',56.8)

In [5]:
print(t)

(10, 20, 'ram', 56.8)

In [6]:
type(t)

tuple

In [7]:
len(t)

4

In [8]:
t=(10,20,'ram',56.8, [1,2,3],(4,5,6))
print(t)

(10, 20, 'ram', 56.8, [1, 2, 3], (4, 5, 6))

This process is called tuple packing because the objects being assigned are “packed” into a single immutable tuple object.

In [9]:
x='Java',119,122

In [10]:
type(x)

tuple

In [11]:
t1='java'
t2='java',
print(f" t1 : {type(t1)}")
print(f" t2 : {type(t2)}")

 t1 : <class 'str'>
 t2 : <class 'tuple'>

### Tuples are immutable
One of the main differences between lists and tuples in Python is that tuples are immutable, that is, one cannot
add or modify items once the tuple is initialized. For example:

In [12]:
tupl3=1,'scala',10.56,(10,20,30)
type(tupl3)

tuple

In [13]:
tupl3[2]="python"
tupl3

TypeError: 'tuple' object does not support item assignment

In [14]:
tupl3=(1,'scala',10.56,[10,20,30])
tupl3[3][0]=100
tupl3

(1, 'scala', 10.56, [100, 20, 30])

In [15]:
tupl3=(1,'scala',10.56,[10,20,30])
tupl3[3]=100
tupl3

TypeError: 'tuple' object does not support item assignment

In [16]:
l=(1,230,0,"python")
l[3][0]="q"
l

TypeError: 'str' object does not support item assignment

In [17]:
l=[1,2,3,"python"]
l[3]="Java"
l

[1, 2, 3, 'Java']

In [18]:
tuple1=(1,2,3,4)
tuple1[0]

1

In [19]:
tuple1[0:2]

(1, 2)

|       +       |---------------|
|:-------------:|:-------------:|
|     int       |      int      |
|    float      |     float     |
|     int       |     float     |
|    float      |      int      |
|   String      |    String     |
|    tuple      |     tuple     |
|     List      |     List      |

In [20]:
l1=[1,2,3]
l2=[4,5,6]
print(l1+l2)
print(l1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]

In [21]:
tuple2=(1,3,444,55)
tup=tuple2 +(2,777,"string")
print(tup)
print(f"tuple2 {tuple2}")

(1, 3, 444, 55, 2, 777, 'string')
tuple2 (1, 3, 444, 55)

In [22]:
'python'*'java'

TypeError: can't multiply sequence by non-int of type 'str'

In [23]:
'python '*2

'python python '

In [24]:
tuple2=(1,3,444,55)

In [25]:
tuple2 * 2

(1, 3, 444, 55, 1, 3, 444, 55)

In [26]:
data=(10,20,'rahul',40.6,'z')
data1=data
del data
print (data)

NameError: name 'data' is not defined

In [27]:
print(data1)

(10, 20, 'rahul', 40.6, 'z')

In [28]:
data=(10,20,40.6)
min(data)

10

In [29]:
max(data)

40.6

In [30]:
data=(10,20,40.6,"10")
min(data)

TypeError: '<' not supported between instances of 'str' and 'int'

In [31]:
# no <capital letter <small letter
data=("20","2","abcd")
# data=(10,2)
min(data)

'2'

In [32]:
data=("20","2","abcd")
rev=data[::-1]
print(rev)
print(f'original data {data}')
print(f'reverse data {rev}')

('abcd', '2', '20')
original data ('20', '2', 'abcd')
reverse data ('abcd', '2', '20')

In [33]:
list1=['a',1,100,233]
t=tuple(list1)
print (t)
print(type(t))

('a', 1, 100, 233)
<class 'tuple'>

In [34]:
tup=(1,2,3,"Hello",5.6)
print(list(tup))

[1, 2, 3, 'Hello', 5.6]

In [ ]:
len(t)

# Why use a tuple instead of a list?

Program execution is faster when manipulating a tuple than it is for the equivalent list. (This is probably not going to be noticeable when the list or tuple is small.)

Sometimes you don’t want data to be modified. If the values in the collection are meant to remain constant for the life of the program, using a tuple instead of a list guards against accidental modification.

There is another Python data type that you will encounter shortly called a dictionary, which requires as one of its components a value that is of an immutable type. A tuple can be used for this purpose, whereas a list can’t be.

- Tuples are stored in a single block of memory. Tuples are immutable so, It doesn't require extra space to store new objects.
- Lists are allocated in two blocks: the fixed one with all the Python object information and a variable sized block for the data.
- It is the reason creating a tuple is faster than List.
- It also explains the slight difference in indexing speed is faster than lists, because in tuples for indexing it follows fewer pointers

Python’s namedtuple() is a factory function that allows you to create tuple subclasses with named fields. These fields give you direct access to the values in a given named tuple using the dot notation, like in obj.attr.

To create new tuple subclass using namedtuple(), you need two required arguments:

typename is the name of the class you’re creating. It must be a string with a valid Python identifier.
field_names is the list of field names you’ll use to access the items in the resulting tuple. It can be:
An iterable of strings, such as ["field1", "field2", ..., "fieldN"]
A string with whitespace-separated field names, such as "field1 field2 ... fieldN"
A string with comma-separated field names, such as "field1, field2, ..., fieldN"

In [ ]:
from collections import namedtuple

# Use a list of strings as field names
Point = namedtuple("Point", ["x", "y"])
p1 = Point(2, 4)
print(p1)
# Point(x=2, y=4)

In [ ]:
# Access the coordinates
print(p1.x)
print(p1.y)
print(p1[0])

In [ ]:
# Use a generator expression as field names
Point = namedtuple("Point", (field for field in "xy"))
Point(2, 4)
Point(x=2, y=4)
print(point.x)
print(point.y)
print(point[0])

In [ ]:
# Use a string with comma-separated field names
Point = namedtuple("Point", "x, y")
Point(2, 4)
Point(x=2, y=4)

In [ ]:

# Use a string with space-separated field names
Point = namedtuple("Point", "x y")
Point(2, 4)
Point(x=2, y=4)

In [ ]:
from collections import namedtuple

# Define default values for fields
Person = namedtuple("Person", "name job", defaults=["Python Developer"])
person1 = Person("Jane")
print(person1)

In [ ]:
Person(name='Jane', job='Python Developer')
# Replace the value of a field
person1 = person1._replace(job="Web Developer")
person1

In [ ]:
Task = namedtuple('Task', ['summary', 'owner', 'done', 'id'])
Task.__new__.__defaults__ = (None, None, False, None)
t_task = Task('do something', 'okken', True, 21)
t_task.summary