# SET

![Interpeter](08_Sets.jpg)

A set contains an unordered collection of unique and mutable objects.
The set data type is, as the name implies, a Python implementation of the sets as they are known from mathematics.
Sets never have sequence and no duplicates also

![Interpeter](08_Sets1.jpg)

In [ ]:
s="string"# '' or ""
l=list()#[]
t=tuple()# ()
s=set()# {}

In [1]:
cities ={"Frankfurt", "Basel","Freiburg"}

In [2]:
cities

{'Basel', 'Frankfurt', 'Freiburg'}

In [3]:
type(cities)

set

## Set can have only immutable data but its mutable data type

In [4]:
cities ={"Frankfurt", "Basel","Freiburg",["bangalore","delhi"]}

TypeError: unhashable type: 'list'

In [5]:
cities ={"Frankfurt", "Basel","Freiburg",("bangalore","delhi")}
cities

{('bangalore', 'delhi'), 'Basel', 'Frankfurt', 'Freiburg'}

In [6]:
cities=set()
cities ={"Frankfurt", "Basel","Freiburg","Basel",1232}
cities

{1232, 'Basel', 'Frankfurt', 'Freiburg'}

In [7]:
cities.add("Strasbourg")
cities.add(100)
cities

{100, 1232, 'Basel', 'Frankfurt', 'Freiburg', 'Strasbourg'}

In [8]:
cities.add("bangalore")
cities

{100, 1232, 'Basel', 'Frankfurt', 'Freiburg', 'Strasbourg', 'bangalore'}

In [9]:
cities.add("bangalore")
cities

{100, 1232, 'Basel', 'Frankfurt', 'Freiburg', 'Strasbourg', 'bangalore'}

In [10]:
s={100, 'Basel', 'Strasbourg', 'bangalore'}
abc="Delhi"
s.add(abc)
s

{100, 'Basel', 'Delhi', 'Strasbourg', 'bangalore'}

In [11]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
help(set)

In [12]:
cities = {"Stuttgart", "Konstanz", "Freiburg"}
cities.clear()
cities

set()

In [13]:
cities = ["Stuttgart", "Konstanz", "Freiburg"]
cities.clear()
cities

[]

In [14]:
cities = ("Stuttgart", "Konstanz", "Freiburg")
cities.clear()
cities

AttributeError: 'tuple' object has no attribute 'clear'

In [15]:
cities = {"Stuttgart", "Konstanz", "Freiburg"}
x=cities.pop(0)
print(f"{x}   , {cities}")

TypeError: pop() takes no arguments (1 given)

In [16]:
cities = {"Stuttgart", "Konstanz", "Freiburg"}
x=cities.pop()
print(f"{x}   , {cities}")

Freiburg   , {'Konstanz', 'Stuttgart'}

In [17]:
cities = {"Stuttgart", "Konstanz", "Freiburg"}
cities.remove("Stuttgart")
print(f"{cities}")

{'Freiburg', 'Konstanz'}

In [18]:
cities = {"Stuttgart", "Konstanz", "Freiburg", (333,333),(333,333)}
# del cities
print(cities)

{'Freiburg', 'Konstanz', (333, 333), 'Stuttgart'}

In [19]:
cities = {"Stuttgart", "Konstanz", "Freiburg"}
del cities
print(cities)

NameError: name 'cities' is not defined

# Question

Write a program to remove the duplicates of a list

In [20]:
l = [1,2,3,"python", 3, "python"]

In [21]:
s=set(l)

In [22]:
l=list(s)

In [23]:
l

[1, 2, 3, 'python']

### Copy of SET

In [24]:
more_cities = {"Winterthur","Schaffhausen","St. Gallen"}

In [25]:
cities_backup = more_cities.copy()
cities_backup

{'Schaffhausen', 'St. Gallen', 'Winterthur'}

In [26]:
more_cities is cities_backup

False

In [27]:
cities_backup == more_cities

True

In [28]:
print(id(more_cities))
print(id(cities_backup))

1346912454240
1346912453344

### Another way to create a copy

In [29]:
more_cities = {"Winterthur","Schaffhausen","St. Gallen"}
city2=more_cities

In [30]:
more_cities is city2

True

In [31]:
city2 == more_cities

True

In [32]:
print(id(more_cities))
print(id(city2))

1346912456032
1346912456032

In [33]:
del (city2)
print(more_cities)

{'Schaffhausen', 'St. Gallen', 'Winterthur'}

### Operations on SET

In [34]:
x = {"a","b","c","d","e"}
y = {"b","c","j"}
z = {"c","d"}

In [35]:
a=x-y
a

{'a', 'd', 'e'}

In [36]:
b=y-x
b

{'j'}

In [37]:
a=x.difference(y)# same as a=x-y
a

{'a', 'd', 'e'}

In [38]:
y.difference(x)# same as a=y-x

{'j'}

In [39]:
x.difference(y).difference(z)

{'a', 'e'}

In [40]:
x-y-z

{'a', 'e'}

In [41]:
x

{'a', 'b', 'c', 'd', 'e'}

# Difference update

In [42]:
x = {"a","b","c","d","e"}
y = {"b","c","j"}

In [43]:
x.difference_update(y)  #  x=x-y

In [44]:
x

{'a', 'd', 'e'}

In [45]:
y.difference_update(x)  #y=y-x

In [46]:
y

{'b', 'c', 'j'}

In [ ]:
x=x-y
x

In [47]:
x = {"a","b","c","d","e",(333,333,3333,3333),333}
x.discard(333)

In [48]:
x

{(333, 333, 3333, 3333), 'a', 'b', 'c', 'd', 'e'}

In [49]:
x.discard("a")

In [50]:
x

{(333, 333, 3333, 3333), 'b', 'c', 'd', 'e'}

In [51]:
x.discard("z")

In [52]:
x = {"a","b","c","d","e"}
x.remove("z")

KeyError: 'z'

In [53]:
l=[1,2,3]
l.remove(1)
print(l)

[2, 3]

In [54]:
l=[1,2,3]
l.discard(1)
print(l)

AttributeError: 'list' object has no attribute 'discard'

In [ ]:
x

In [ ]:
# x.remove("z")
l =[]
dir(l)

# Intersection
![Interpeter](intersection-in-python.jpg)

In [55]:
x = {"a","b","c","d","e"}
y = {"c","d","e","f","g"}

In [56]:
x.intersection(y)

{'c', 'd', 'e'}

In [57]:
x & y

{'c', 'd', 'e'}

# isdisjoint()

This method returns True if two sets have a null intersection.

In [58]:
x = {"a","b","c","d","e"}
a = {"a","b","c",}
y = {"c","d","e","f","g"}
z={1,2,3}

In [59]:
a.isdisjoint(x)

False

In [60]:
z.isdisjoint(y)

True

# Union

![Interpeter](05_set_union_b.png)

In [61]:
x = {"a","b","c","d","e"}
y = {"c","d","f","a"}

In [62]:
x|y

{'a', 'b', 'c', 'd', 'e', 'f'}

In [63]:
x.union(y)

{'a', 'b', 'c', 'd', 'e', 'f'}

### issubset()

x.issubset(y) returns True, if x is a subset of y. "<=" is an abbreviation for "Subset of"	and ">=" for "superset of" 
"<" is used to check if a set is a proper subset of a set.

In [64]:
x = {"a","b","c","d","e"}
y = {"c","d"}
z = {"c","d","f"}

In [65]:
x.issubset(y)

False

In [66]:
y.issubset(x)

True

In [67]:
x < y

False

In [68]:
y < x # y is a proper subset of x

True

In [69]:
x < x # a set can never be a proper subset of oneself.

False

In [70]:
x <= x

True

In [71]:
y1 = {"c","d"}
y2 = {"c","d"}
# y1<=y2
y1.issubset(y1)

True

# issuperset()

x.issuperset(y) returns True, if x is a superset of y. ">=" is an abbreviation for "issuperset of"
">" is used to check if a set is a proper superset of a set.

In [72]:
x = {"a","b","c"}#karnataka
y = {"c","b","a","d"}#india

In [73]:
x.issuperset(y)

False

In [74]:
y.issuperset(x)

True

# Symmetric difference  (a-b union b-a) A^B

In [75]:
A={1, 2, 3, 4, 5, 6, 7, 8}
B = {1, 3, 5, 6, 7, 8, 9}
c={11,3,4,5,}

In [76]:
A-B

{2, 4}

In [77]:
B-A

{9}

In [78]:
(A-B) | (B-A)

{2, 4, 9}

In [79]:
A^B

{2, 4, 9}

# The latter operations have equivalent operators as shown below:
  Method                         Operator
<number>     a.intersection(b)             a & b<br>
<number> a.union(b)                         a|b <br>
<number>a.difference(b)                 a - b <br>
<number>a.symmetric_difference(b)          a ^ b  <br>
<number>a.issubset(b)                   a <= b <br>
<number>a.issuperset(b)                 a >= b <br>

# Frozen Sets

Frozen sets are immutable objects
that only support methods and operators that produce a result without 
afecting the frozen set or sets to which they are applied.

In [80]:
frozen_set1 = frozenset(["e", "f", "g"])
print(len(frozen_set1))
print (frozen_set1)

3
frozenset({'f', 'e', 'g'})

In [81]:
frozen_set1.add("d")## immutable

AttributeError: 'frozenset' object has no attribute 'add'

In [82]:
dir(frozen_set1)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

In [83]:
frozen_set1 = frozenset(["e", "f", "g","h"])
frozen_set2 = frozenset(["a", "b", "c","h"])
frozen_set1 | frozen_set2

frozenset({'a', 'b', 'c', 'e', 'f', 'g', 'h'})

In [84]:
frozen_set1 & frozen_set2

frozenset({'h'})

In [ ]:
# len(frozen_set)
A={1, 2, 3, 4, 5, 6, 7, 8}
len(A)

In [ ]:
Set Can not have mutable data .. for that we need forzenset

In [ ]:
l=[1,[1,2,3],3]
x={l}
x

Frozensets are useful in situations where you want to use a set, but you need an immutable object. For example, you canâ€™t define a set whose elements are also sets, because set elements must be immutable:

In [ ]:
x1 = set(['foo'])
x2 = set(['bar'])
x3 = set(['baz'])
x = {x1, x2, x3}
# x = {x1, x2, x3}
print(x)

If you really feel compelled to define a set of sets (hey, it could happen), you can do it if the elements are frozensets, because they are immutable:

In [ ]:
x1 = frozenset(['foo'])
x2 = frozenset(['bar'])
x3 = frozenset(['baz'])
x = {x1, x2, x3}
x
# for a in x:
#     print(a)
# print(x1|x2)

In [ ]:
Write a menu driven program to delete ,append,  sort , find max, minimum , sum, sort the list.

# Assignment:
* What is frozenset , difference between sets and frozenset
* Remove duplicate values of a list a=[1,2,3,4,1,2,3,10]
* What is the output when the following code is run by Python? For sets, do not worry about getting the exact order of the output correct.
 s1 = set( [7,9, 12, 7, 9] )
 s2 = set( ['abc', 12, 'b', 'car', 7, 10, 12 ])
 s3 = set( [12, 14, 12, 'ab'] )
 * print s1 & s2
 * print s1 | s2
 * print 'b' in s2
 * print 'ab' in s2
 * print 'ab' in s3
 * s2.discard(12)
 * print (s1 & s2) ^ s3

* Given three sets, s1, s2, and s3, write a short segment of Python code to find the values that are in exactly one of the three sets. The result should be stored in a set called s. You may NOT use any loops.
#
#
#

In [ ]:
s1={1,4,5,6,7}
s2={2,4,5,6,8}
s3={3,4,5,6,7,8}
# s1 = set( [7,9, 12, 7, 9] )
# s2 = set( ['abc', 12, 'b', 'car', 7, 10, 12 ])
# s3 = set( [12, 14, 12, 'ab'] )
# print ((s1 & s2))
# print((s1 & s2) ^ s3)
# print((s1^s2)^(s3))
# s=s1-s2 | s2-s1
# print (s)
# print(s-s3|s3-s)

In [ ]:
x=input()
count=0
v=("a","e","i","o","u")
for i in x:
    if i in v:
        count=count+1
        print(count)

Python Program to Count the Number of Vowels Present in a String using Sets

In [ ]:
x=input()
count=0
v=("a","e","i","o","u")
for i in x:
    if i in v:
        count=count+1
print("No of vowers in the string is ", count)

#### Take 2 stirngs as input and find out common characters between strings

In [ ]:
x="python"
y="pyt"
set(x)&set(y)

In [ ]:
set(x)

#### Program to Check Common Letters in Two Input Strings

#### Task 
Given  sets of integers,  and , print their symmetric difference in ascending order. The term symmetric difference indicates those values that exist in either  or  but do not exist in both.

#### Input Format

The first line of input contains an integer, . 
The second line contains  space-separated integers. 
The third line contains an integer, . 
The fourth line contains  space-separated integers.

#### Output Format

Output the symmetric difference integers in ascending order, one per line.

Sample Input

4
2 4 5 9
4
2 4 11 12

Sample Output

5
9
11
12

In [ ]:
x= input()
x.split(" ")

In [ ]:
l=['333','2232','1232']
l.sort()
l

In [ ]:
for i in range(len(l)):
    l[i]=int(l[i])
print (l)
listC = sorted(l, reverse=False)
print (listC)

In [ ]:
s="z"
sq="s"
s sq

In [ ]:
import re
s=('xxxx','abcxxxx')
x= filter((lambda s: re.search(r'xxx',s)),s)?

In [ ]:
x