## Pandas Index Objects
### **What is a Pandas Index Object?**

In Pandas, the **Index object** is an essential component of both **Series** and **DataFrame** objects. It provides the labels or identifiers for rows and columns.

---

### **Key Features of Pandas Index Object**

#### **1. Immutable**
- Once created, the Pandas Index is **immutable** (cannot be changed). This ensures data integrity.
- You can create a new Index but cannot modify an existing one.

#### **2. Supports Labels**
- Indexes can be **numeric** (like row numbers) or **labels** (like names or dates).

#### **3. Types of Index**
- **Default Index**: Auto-generated numbers starting from 0.
- **Custom Index**: User-defined labels (e.g., strings or dates).

#### **4. Used for Data Alignment**
- Indexes are critical for **aligning data** when performing operations between Series or DataFrames.

#### **5. Index Types**
- **RangeIndex**: Default integer index.
- **Int64Index**: Integer-based custom index.
- **Float64Index**: Float-based custom index.
- **MultiIndex**: For hierarchical indexing.
- **DatetimeIndex**: For date and time-based data.

### **Are Column Names Also Index in Pandas?**

Yes, in Pandas, **column names** are treated as an **index** for the columns in a DataFrame. While the rows have their own row index, the column names act as the **index for columns**.

---

### **Key Points About Column Names as Index**

1. **Row Index vs Column Index**:
   - Row labels are represented by the **Index object** (the rows' index).
   - Column labels are stored as a **separate Index object** in the `columns` attribute of the DataFrame.

2. **Column Names as Labels**:
   - Just like row indexes, column names are used for referencing, alignment, and operations.

3. **Accessing Column Index**:
   - You can view the column names (which are an Index object) using:
     ```python
     df.columns
     ```

4. **Immutable by Default**:
   - Like the row index, column names (column index) are **immutable** by default.

---

### First Steps

In [1]:
import pandas as pd

In [2]:
summer = pd.read_csv("summer.csv", index_col="Athlete")

In [3]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [4]:
summer.tail()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [5]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31165 entries, HAJOS, Alfred to LIDBERG, Jimmy
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Country     31161 non-null  object
 5   Gender      31165 non-null  object
 6   Event       31165 non-null  object
 7   Medal       31165 non-null  object
dtypes: int64(1), object(7)
memory usage: 2.1+ MB

In [6]:
summer.index

Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
       'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
       'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
       'NEUMANN, Paul',
       ...
       'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
       'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
       'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
       'LIDBERG, Jimmy'],
      dtype='object', name='Athlete', length=31165)

In [7]:
type(summer.index)

pandas.core.indexes.base.Index

In [8]:
summer.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Country', 'Gender', 'Event',
       'Medal'],
      dtype='object')

In [9]:
type(summer.columns)

pandas.core.indexes.base.Index

In [10]:
summer.axes

[Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
        'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
        'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
        'NEUMANN, Paul',
        ...
        'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
        'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
        'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
        'LIDBERG, Jimmy'],
       dtype='object', name='Athlete', length=31165),
 Index(['Year', 'City', 'Sport', 'Discipline', 'Country', 'Gender', 'Event',
        'Medal'],
       dtype='object')]

In [11]:
summer.columns[:3]

Index(['Year', 'City', 'Sport'], dtype='object')

In [12]:
summer.index[0]

'HAJOS, Alfred'

In [13]:
summer.index[-1]

'LIDBERG, Jimmy'

In [14]:
summer.index[100:102]

Index(['FLATOW, Alfred', 'FLATOW, Gustav Felix'], dtype='object', name='Athlete')

In [15]:
summer.columns.tolist()

['Year', 'City', 'Sport', 'Discipline', 'Country', 'Gender', 'Event', 'Medal']

In [16]:
summer.index.is_unique

False

In [17]:
summer.index.get_loc("DRIVAS, Dimitrios")

2

### Creating Index Objects

In [18]:
import pandas as pd

In [19]:
list_1 = [1,2,3]

In [20]:
pd.Index(list_1)

Index([1, 2, 3], dtype='int64')

In [21]:
list_2 = ["m", "t", "w"]

In [22]:
pd.Index(list_2)

Index(['m', 't', 'w'], dtype='object')

In [23]:
index_1 = pd.Index(range(1,4))
index_1

RangeIndex(start=1, stop=4, step=1)

In [24]:
index_2 = pd.Index(["Mo", "Tue", "Wed"], name = "days")
index_2

Index(['Mo', 'Tue', 'Wed'], dtype='object', name='days')

In [25]:
pd.Series([34,32,21], index = index_1)

1    34
2    32
3    21
dtype: int64

In [26]:
pd.Series([34, 32,21], index = index_2)

days
Mo     34
Tue    32
Wed    21
dtype: int64

### Changing Row Index Labels

In [27]:
import pandas as pd

In [42]:
summer = pd.read_csv("summer.csv", index_col="Athlete")

In [43]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [30]:
summer.index

Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
       'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
       'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
       'NEUMANN, Paul',
       ...
       'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
       'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
       'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
       'LIDBERG, Jimmy'],
      dtype='object', name='Athlete', length=31165)

In [44]:
summer.reset_index(drop = False, inplace=True)

In [45]:
summer.head()

,Athlete,Year,City,Sport,Discipline,Country,Gender,Event,Medal
0,"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
1,"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
2,"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
3,"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
4,"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [39]:
summer.set_index("Year", drop = True, inplace = True)

In [41]:
summer.reset_index(drop=False, inplace=True)
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [46]:
summer.index.is_unique

True

In [ ]:
#summer.index[0] = 1894

In [ ]:
#summer.index = "Before 2016"

In [47]:
summer.index.size

31165

In [48]:
new_index = ["Medal_No{}".format(i) for i in range(1,summer.index.size+1)]
new_index

['Medal_No1',
 'Medal_No2',
 'Medal_No3',
 'Medal_No4',
 'Medal_No5',
 'Medal_No6',
 'Medal_No7',
 'Medal_No8',
 'Medal_No9',
 'Medal_No10',
 'Medal_No11',
 'Medal_No12',
 'Medal_No13',
 'Medal_No14',
 'Medal_No15',
 'Medal_No16',
 'Medal_No17',
 'Medal_No18',
 'Medal_No19',
 'Medal_No20',
 'Medal_No21',
 'Medal_No22',
 'Medal_No23',
 'Medal_No24',
 'Medal_No25',
 'Medal_No26',
 'Medal_No27',
 'Medal_No28',
 'Medal_No29',
 'Medal_No30',
 'Medal_No31',
 'Medal_No32',
 'Medal_No33',
 'Medal_No34',
 'Medal_No35',
 'Medal_No36',
 'Medal_No37',
 'Medal_No38',
 'Medal_No39',
 'Medal_No40',
 'Medal_No41',
 'Medal_No42',
 'Medal_No43',
 'Medal_No44',
 'Medal_No45',
 'Medal_No46',
 'Medal_No47',
 'Medal_No48',
 'Medal_No49',
 'Medal_No50',
 'Medal_No51',
 'Medal_No52',
 'Medal_No53',
 'Medal_No54',
 'Medal_No55',
 'Medal_No56',
 'Medal_No57',
 'Medal_No58',
 'Medal_No59',
 'Medal_No60',
 'Medal_No61',
 'Medal_No62',
 'Medal_No63',
 'Medal_No64',
 'Medal_No65',
 'Medal_No66',
 'Medal_No67',
 'Medal_No68',
 'Medal_No69',
 'Medal_No70',
 'Medal_No71',
 'Medal_No72',
 'Medal_No73',
 'Medal_No74',
 'Medal_No75',
 'Medal_No76',
 'Medal_No77',
 'Medal_No78',
 'Medal_No79',
 'Medal_No80',
 'Medal_No81',
 'Medal_No82',
 'Medal_No83',
 'Medal_No84',
 'Medal_No85',
 'Medal_No86',
 'Medal_No87',
 'Medal_No88',
 'Medal_No89',
 'Medal_No90',
 'Medal_No91',
 'Medal_No92',
 'Medal_No93',
 'Medal_No94',
 'Medal_No95',
 'Medal_No96',
 'Medal_No97',
 'Medal_No98',
 'Medal_No99',
 'Medal_No100',
 'Medal_No101',
 'Medal_No102',
 'Medal_No103',
 'Medal_No104',
 'Medal_No105',
 'Medal_No106',
 'Medal_No107',
 'Medal_No108',
 'Medal_No109',
 'Medal_No110',
 'Medal_No111',
 'Medal_No112',
 'Medal_No113',
 'Medal_No114',
 'Medal_No115',
 'Medal_No116',
 'Medal_No117',
 'Medal_No118',
 'Medal_No119',
 'Medal_No120',
 'Medal_No121',
 'Medal_No122',
 'Medal_No123',
 'Medal_No124',
 'Medal_No125',
 'Medal_No126',
 'Medal_No127',
 'Medal_No128',
 'Medal_No129',
 'Medal_No130',
 'Medal_No131',
 'Medal_No132',
 'Medal_No133',
 'Medal_No134',
 'Medal_No135',
 'Medal_No136',
 'Medal_No137',
 'Medal_No138',
 'Medal_No139',
 'Medal_No140',
 'Medal_No141',
 'Medal_No142',
 'Medal_No143',
 'Medal_No144',
 'Medal_No145',
 'Medal_No146',
 'Medal_No147',
 'Medal_No148',
 'Medal_No149',
 'Medal_No150',
 'Medal_No151',
 'Medal_No152',
 'Medal_No153',
 'Medal_No154',
 'Medal_No155',
 'Medal_No156',
 'Medal_No157',
 'Medal_No158',
 'Medal_No159',
 'Medal_No160',
 'Medal_No161',
 'Medal_No162',
 'Medal_No163',
 'Medal_No164',
 'Medal_No165',
 'Medal_No166',
 'Medal_No167',
 'Medal_No168',
 'Medal_No169',
 'Medal_No170',
 'Medal_No171',
 'Medal_No172',
 'Medal_No173',
 'Medal_No174',
 'Medal_No175',
 'Medal_No176',
 'Medal_No177',
 'Medal_No178',
 'Medal_No179',
 'Medal_No180',
 'Medal_No181',
 'Medal_No182',
 'Medal_No183',
 'Medal_No184',
 'Medal_No185',
 'Medal_No186',
 'Medal_No187',
 'Medal_No188',
 'Medal_No189',
 'Medal_No190',
 'Medal_No191',
 'Medal_No192',
 'Medal_No193',
 'Medal_No194',
 'Medal_No195',
 'Medal_No196',
 'Medal_No197',
 'Medal_No198',
 'Medal_No199',
 'Medal_No200',
 'Medal_No201',
 'Medal_No202',
 'Medal_No203',
 'Medal_No204',
 'Medal_No205',
 'Medal_No206',
 'Medal_No207',
 'Medal_No208',
 'Medal_No209',
 'Medal_No210',
 'Medal_No211',
 'Medal_No212',
 'Medal_No213',
 'Medal_No214',
 'Medal_No215',
 'Medal_No216',
 'Medal_No217',
 'Medal_No218',
 'Medal_No219',
 'Medal_No220',
 'Medal_No221',
 'Medal_No222',
 'Medal_No223',
 'Medal_No224',
 'Medal_No225',
 'Medal_No226',
 'Medal_No227',
 'Medal_No228',
 'Medal_No229',
 'Medal_No230',
 'Medal_No231',
 'Medal_No232',
 'Medal_No233',
 'Medal_No234',
 'Medal_No235',
 'Medal_No236',
 'Medal_No237',
 'Medal_No238',
 'Medal_No239',
 'Medal_No240',
 'Medal_No241',
 'Medal_No242',
 'Medal_No243',
 'Medal_No244',
 'Medal_No245',
 'Medal_No246',
 'Medal_No247',
 'Medal_No248',
 'Medal_No249',
 'Medal_No250',
 'Medal_No251',
 'Medal_No252',
 'Medal_No253',
 'Medal_No254',
 'Medal_No255',
 'Medal_No256',
 'Medal_No257',
 'Medal_No258',
 'Medal_No259',
 'Medal_No260',
 'Medal_No261',
 'Medal_No262',
 'Medal_No263',
 'Medal_No264',
 'Medal_No265',
 'Medal_No266',
 'Medal_No267',
 'Medal_No268',
 'Medal_No269',
 'Medal_No270',
 'Medal_No271',
 'Medal_No272',
 'Medal_No273',
 'Medal_No274',
 'Medal_No275',
 'Medal_No276',
 'Medal_No277',
 'Medal_No278',
 'Medal_No279',
 'Medal_No280',
 'Medal_No281',
 'Medal_No282',
 'Medal_No283',
 'Medal_No284',
 'Medal_No285',
 'Medal_No286',
 'Medal_No287',
 'Medal_No288',
 'Medal_No289',
 'Medal_No290',
 'Medal_No291',
 'Medal_No292',
 'Medal_No293',
 'Medal_No294',
 'Medal_No295',
 'Medal_No296',
 'Medal_No297',
 'Medal_No298',
 'Medal_No299',
 'Medal_No300',
 'Medal_No301',
 'Medal_No302',
 'Medal_No303',
 'Medal_No304',
 'Medal_No305',
 'Medal_No306',
 'Medal_No307',
 'Medal_No308',
 'Medal_No309',
 'Medal_No310',
 'Medal_No311',
 'Medal_No312',
 'Medal_No313',
 'Medal_No314',
 'Medal_No315',
 'Medal_No316',
 'Medal_No317',
 'Medal_No318',
 'Medal_No319',
 'Medal_No320',
 'Medal_No321',
 'Medal_No322',
 'Medal_No323',
 'Medal_No324',
 'Medal_No325',
 'Medal_No326',
 'Medal_No327',
 'Medal_No328',
 'Medal_No329',
 'Medal_No330',
 'Medal_No331',
 'Medal_No332',
 'Medal_No333',
 'Medal_No334',
 'Medal_No335',
 'Medal_No336',
 'Medal_No337',
 'Medal_No338',
 'Medal_No339',
 'Medal_No340',
 'Medal_No341',
 'Medal_No342',
 'Medal_No343',
 'Medal_No344',
 'Medal_No345',
 'Medal_No346',
 'Medal_No347',
 'Medal_No348',
 'Medal_No349',
 'Medal_No350',
 'Medal_No351',
 'Medal_No352',
 'Medal_No353',
 'Medal_No354',
 'Medal_No355',
 'Medal_No356',
 'Medal_No357',
 'Medal_No358',
 'Medal_No359',
 'Medal_No360',
 'Medal_No361',
 'Medal_No362',
 'Medal_No363',
 'Medal_No364',
 'Medal_No365',
 'Medal_No366',
 'Medal_No367',
 'Medal_No368',
 'Medal_No369',
 'Medal_No370',
 'Medal_No371',
 'Medal_No372',
 'Medal_No373',
 'Medal_No374',
 'Medal_No375',
 'Medal_No376',
 'Medal_No377',
 'Medal_No378',
 'Medal_No379',
 'Medal_No380',
 'Medal_No381',
 'Medal_No382',
 'Medal_No383',
 'Medal_No384',
 'Medal_No385',
 'Medal_No386',
 'Medal_No387',
 'Medal_No388',
 'Medal_No389',
 'Medal_No390',
 'Medal_No391',
 'Medal_No392',
 'Medal_No393',
 'Medal_No394',
 'Medal_No395',
 'Medal_No396',
 'Medal_No397',
 'Medal_No398',
 'Medal_No399',
 'Medal_No400',
 'Medal_No401',
 'Medal_No402',
 'Medal_No403',
 'Medal_No404',
 'Medal_No405',
 'Medal_No406',
 'Medal_No407',
 'Medal_No408',
 'Medal_No409',
 'Medal_No410',
 'Medal_No411',
 'Medal_No412',
 'Medal_No413',
 'Medal_No414',
 'Medal_No415',
 'Medal_No416',
 'Medal_No417',
 'Medal_No418',
 'Medal_No419',
 'Medal_No420',
 'Medal_No421',
 'Medal_No422',
 'Medal_No423',
 'Medal_No424',
 'Medal_No425',
 'Medal_No426',
 'Medal_No427',
 'Medal_No428',
 'Medal_No429',
 'Medal_No430',
 'Medal_No431',
 'Medal_No432',
 'Medal_No433',
 'Medal_No434',
 'Medal_No435',
 'Medal_No436',
 'Medal_No437',
 'Medal_No438',
 'Medal_No439',
 'Medal_No440',
 'Medal_No441',
 'Medal_No442',
 'Medal_No443',
 'Medal_No444',
 'Medal_No445',
 'Medal_No446',
 'Medal_No447',
 'Medal_No448',
 'Medal_No449',
 'Medal_No450',
 'Medal_No451',
 'Medal_No452',
 'Medal_No453',
 'Medal_No454',
 'Medal_No455',
 'Medal_No456',
 'Medal_No457',
 'Medal_No458',
 'Medal_No459',
 'Medal_No460',
 'Medal_No461',
 'Medal_No462',
 'Medal_No463',
 'Medal_No464',
 'Medal_No465',
 'Medal_No466',
 'Medal_No467',
 'Medal_No468',
 'Medal_No469',
 'Medal_No470',
 'Medal_No471',
 'Medal_No472',
 'Medal_No473',
 'Medal_No474',
 'Medal_No475',
 'Medal_No476',
 'Medal_No477',
 'Medal_No478',
 'Medal_No479',
 'Medal_No480',
 'Medal_No481',
 'Medal_No482',
 'Medal_No483',
 'Medal_No484',
 'Medal_No485',
 'Medal_No486',
 'Medal_No487',
 'Medal_No488',
 'Medal_No489',
 'Medal_No490',
 'Medal_No491',
 'Medal_No492',
 'Medal_No493',
 'Medal_No494',
 'Medal_No495',
 'Medal_No496',
 'Medal_No497',
 'Medal_No498',
 'Medal_No499',
 'Medal_No500',
 'Medal_No501',
 'Medal_No502',
 'Medal_No503',
 'Medal_No504',
 'Medal_No505',
 'Medal_No506',
 'Medal_No507',
 'Medal_No508',
 'Medal_No509',
 'Medal_No510',
 'Medal_No511',
 'Medal_No512',
 'Medal_No513',
 'Medal_No514',
 'Medal_No515',
 'Medal_No516',
 'Medal_No517',
 'Medal_No518',
 'Medal_No519',
 'Medal_No520',
 'Medal_No521',
 'Medal_No522',
 'Medal_No523',
 'Medal_No524',
 'Medal_No525',
 'Medal_No526',
 'Medal_No527',
 'Medal_No528',
 'Medal_No529',
 'Medal_No530',
 'Medal_No531',
 'Medal_No532',
 'Medal_No533',
 'Medal_No534',
 'Medal_No535',
 'Medal_No536',
 'Medal_No537',
 'Medal_No538',
 'Medal_No539',
 'Medal_No540',
 'Medal_No541',
 'Medal_No542',
 'Medal_No543',
 'Medal_No544',
 'Medal_No545',
 'Medal_No546',
 'Medal_No547',
 'Medal_No548',
 'Medal_No549',
 'Medal_No550',
 'Medal_No551',
 'Medal_No552',
 'Medal_No553',
 'Medal_No554',
 'Medal_No555',
 'Medal_No556',
 'Medal_No557',
 'Medal_No558',
 'Medal_No559',
 'Medal_No560',
 'Medal_No561',
 'Medal_No562',
 'Medal_No563',
 'Medal_No564',
 'Medal_No565',
 'Medal_No566',
 'Medal_No567',
 'Medal_No568',
 'Medal_No569',
 'Medal_No570',
 'Medal_No571',
 'Medal_No572',
 'Medal_No573',
 'Medal_No574',
 'Medal_No575',
 'Medal_No576',
 'Medal_No577',
 'Medal_No578',
 'Medal_No579',
 'Medal_No580',
 'Medal_No581',
 'Medal_No582',
 'Medal_No583',
 'Medal_No584',
 'Medal_No585',
 'Medal_No586',
 'Medal_No587',
 'Medal_No588',
 'Medal_No589',
 'Medal_No590',
 'Medal_No591',
 'Medal_No592',
 'Medal_No593',
 'Medal_No594',
 'Medal_No595',
 'Medal_No596',
 'Medal_No597',
 'Medal_No598',
 'Medal_No599',
 'Medal_No600',
 'Medal_No601',
 'Medal_No602',
 'Medal_No603',
 'Medal_No604',
 'Medal_No605',
 'Medal_No606',
 'Medal_No607',
 'Medal_No608',
 'Medal_No609',
 'Medal_No610',
 'Medal_No611',
 'Medal_No612',
 'Medal_No613',
 'Medal_No614',
 'Medal_No615',
 'Medal_No616',
 'Medal_No617',
 'Medal_No618',
 'Medal_No619',
 'Medal_No620',
 'Medal_No621',
 'Medal_No622',
 'Medal_No623',
 'Medal_No624',
 'Medal_No625',
 'Medal_No626',
 'Medal_No627',
 'Medal_No628',
 'Medal_No629',
 'Medal_No630',
 'Medal_No631',
 'Medal_No632',
 'Medal_No633',
 'Medal_No634',
 'Medal_No635',
 'Medal_No636',
 'Medal_No637',
 'Medal_No638',
 'Medal_No639',
 'Medal_No640',
 'Medal_No641',
 'Medal_No642',
 'Medal_No643',
 'Medal_No644',
 'Medal_No645',
 'Medal_No646',
 'Medal_No647',
 'Medal_No648',
 'Medal_No649',
 'Medal_No650',
 'Medal_No651',
 'Medal_No652',
 'Medal_No653',
 'Medal_No654',
 'Medal_No655',
 'Medal_No656',
 'Medal_No657',
 'Medal_No658',
 'Medal_No659',
 'Medal_No660',
 'Medal_No661',
 'Medal_No662',
 'Medal_No663',
 'Medal_No664',
 'Medal_No665',
 'Medal_No666',
 'Medal_No667',
 'Medal_No668',
 'Medal_No669',
 'Medal_No670',
 'Medal_No671',
 'Medal_No672',
 'Medal_No673',
 'Medal_No674',
 'Medal_No675',
 'Medal_No676',
 'Medal_No677',
 'Medal_No678',
 'Medal_No679',
 'Medal_No680',
 'Medal_No681',
 'Medal_No682',
 'Medal_No683',
 'Medal_No684',
 'Medal_No685',
 'Medal_No686',
 'Medal_No687',
 'Medal_No688',
 'Medal_No689',
 'Medal_No690',
 'Medal_No691',
 'Medal_No692',
 'Medal_No693',
 'Medal_No694',
 'Medal_No695',
 'Medal_No696',
 'Medal_No697',
 'Medal_No698',
 'Medal_No699',
 'Medal_No700',
 'Medal_No701',
 'Medal_No702',
 'Medal_No703',
 'Medal_No704',
 'Medal_No705',
 'Medal_No706',
 'Medal_No707',
 'Medal_No708',
 'Medal_No709',
 'Medal_No710',
 'Medal_No711',
 'Medal_No712',
 'Medal_No713',
 'Medal_No714',
 'Medal_No715',
 'Medal_No716',
 'Medal_No717',
 'Medal_No718',
 'Medal_No719',
 'Medal_No720',
 'Medal_No721',
 'Medal_No722',
 'Medal_No723',
 'Medal_No724',
 'Medal_No725',
 'Medal_No726',
 'Medal_No727',
 'Medal_No728',
 'Medal_No729',
 'Medal_No730',
 'Medal_No731',
 'Medal_No732',
 'Medal_No733',
 'Medal_No734',
 'Medal_No735',
 'Medal_No736',
 'Medal_No737',
 'Medal_No738',
 'Medal_No739',
 'Medal_No740',
 'Medal_No741',
 'Medal_No742',
 'Medal_No743',
 'Medal_No744',
 'Medal_No745',
 'Medal_No746',
 'Medal_No747',
 'Medal_No748',
 'Medal_No749',
 'Medal_No750',
 'Medal_No751',
 'Medal_No752',
 'Medal_No753',
 'Medal_No754',
 'Medal_No755',
 'Medal_No756',
 'Medal_No757',
 'Medal_No758',
 'Medal_No759',
 'Medal_No760',
 'Medal_No761',
 'Medal_No762',
 'Medal_No763',
 'Medal_No764',
 'Medal_No765',
 'Medal_No766',
 'Medal_No767',
 'Medal_No768',
 'Medal_No769',
 'Medal_No770',
 'Medal_No771',
 'Medal_No772',
 'Medal_No773',
 'Medal_No774',
 'Medal_No775',
 'Medal_No776',
 'Medal_No777',
 'Medal_No778',
 'Medal_No779',
 'Medal_No780',
 'Medal_No781',
 'Medal_No782',
 'Medal_No783',
 'Medal_No784',
 'Medal_No785',
 'Medal_No786',
 'Medal_No787',
 'Medal_No788',
 'Medal_No789',
 'Medal_No790',
 'Medal_No791',
 'Medal_No792',
 'Medal_No793',
 'Medal_No794',
 'Medal_No795',
 'Medal_No796',
 'Medal_No797',
 'Medal_No798',
 'Medal_No799',
 'Medal_No800',
 'Medal_No801',
 'Medal_No802',
 'Medal_No803',
 'Medal_No804',
 'Medal_No805',
 'Medal_No806',
 'Medal_No807',
 'Medal_No808',
 'Medal_No809',
 'Medal_No810',
 'Medal_No811',
 'Medal_No812',
 'Medal_No813',
 'Medal_No814',
 'Medal_No815',
 'Medal_No816',
 'Medal_No817',
 'Medal_No818',
 'Medal_No819',
 'Medal_No820',
 'Medal_No821',
 'Medal_No822',
 'Medal_No823',
 'Medal_No824',
 'Medal_No825',
 'Medal_No826',
 'Medal_No827',
 'Medal_No828',
 'Medal_No829',
 'Medal_No830',
 'Medal_No831',
 'Medal_No832',
 'Medal_No833',
 'Medal_No834',
 'Medal_No835',
 'Medal_No836',
 'Medal_No837',
 'Medal_No838',
 'Medal_No839',
 'Medal_No840',
 'Medal_No841',
 'Medal_No842',
 'Medal_No843',
 'Medal_No844',
 'Medal_No845',
 'Medal_No846',
 'Medal_No847',
 'Medal_No848',
 'Medal_No849',
 'Medal_No850',
 'Medal_No851',
 'Medal_No852',
 'Medal_No853',
 'Medal_No854',
 'Medal_No855',
 'Medal_No856',
 'Medal_No857',
 'Medal_No858',
 'Medal_No859',
 'Medal_No860',
 'Medal_No861',
 'Medal_No862',
 'Medal_No863',
 'Medal_No864',
 'Medal_No865',
 'Medal_No866',
 'Medal_No867',
 'Medal_No868',
 'Medal_No869',
 'Medal_No870',
 'Medal_No871',
 'Medal_No872',
 'Medal_No873',
 'Medal_No874',
 'Medal_No875',
 'Medal_No876',
 'Medal_No877',
 'Medal_No878',
 'Medal_No879',
 'Medal_No880',
 'Medal_No881',
 'Medal_No882',
 'Medal_No883',
 'Medal_No884',
 'Medal_No885',
 'Medal_No886',
 'Medal_No887',
 'Medal_No888',
 'Medal_No889',
 'Medal_No890',
 'Medal_No891',
 'Medal_No892',
 'Medal_No893',
 'Medal_No894',
 'Medal_No895',
 'Medal_No896',
 'Medal_No897',
 'Medal_No898',
 'Medal_No899',
 'Medal_No900',
 'Medal_No901',
 'Medal_No902',
 'Medal_No903',
 'Medal_No904',
 'Medal_No905',
 'Medal_No906',
 'Medal_No907',
 'Medal_No908',
 'Medal_No909',
 'Medal_No910',
 'Medal_No911',
 'Medal_No912',
 'Medal_No913',
 'Medal_No914',
 'Medal_No915',
 'Medal_No916',
 'Medal_No917',
 'Medal_No918',
 'Medal_No919',
 'Medal_No920',
 'Medal_No921',
 'Medal_No922',
 'Medal_No923',
 'Medal_No924',
 'Medal_No925',
 'Medal_No926',
 'Medal_No927',
 'Medal_No928',
 'Medal_No929',
 'Medal_No930',
 'Medal_No931',
 'Medal_No932',
 'Medal_No933',
 'Medal_No934',
 'Medal_No935',
 'Medal_No936',
 'Medal_No937',
 'Medal_No938',
 'Medal_No939',
 'Medal_No940',
 'Medal_No941',
 'Medal_No942',
 'Medal_No943',
 'Medal_No944',
 'Medal_No945',
 'Medal_No946',
 'Medal_No947',
 'Medal_No948',
 'Medal_No949',
 'Medal_No950',
 'Medal_No951',
 'Medal_No952',
 'Medal_No953',
 'Medal_No954',
 'Medal_No955',
 'Medal_No956',
 'Medal_No957',
 'Medal_No958',
 'Medal_No959',
 'Medal_No960',
 'Medal_No961',
 'Medal_No962',
 'Medal_No963',
 'Medal_No964',
 'Medal_No965',
 'Medal_No966',
 'Medal_No967',
 'Medal_No968',
 'Medal_No969',
 'Medal_No970',
 'Medal_No971',
 'Medal_No972',
 'Medal_No973',
 'Medal_No974',
 'Medal_No975',
 'Medal_No976',
 'Medal_No977',
 'Medal_No978',
 'Medal_No979',
 'Medal_No980',
 'Medal_No981',
 'Medal_No982',
 'Medal_No983',
 'Medal_No984',
 'Medal_No985',
 'Medal_No986',
 'Medal_No987',
 'Medal_No988',
 'Medal_No989',
 'Medal_No990',
 'Medal_No991',
 'Medal_No992',
 'Medal_No993',
 'Medal_No994',
 'Medal_No995',
 'Medal_No996',
 'Medal_No997',
 'Medal_No998',
 'Medal_No999',
 'Medal_No1000',
 ...]

In [49]:
summer.index = new_index

In [50]:
summer.head()

,Athlete,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Medal_No1,"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
Medal_No2,"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
Medal_No3,"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
Medal_No4,"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
Medal_No5,"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [51]:
summer.tail()

,Athlete,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Medal_No31161,"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
Medal_No31162,"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
Medal_No31163,"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
Medal_No31164,"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
Medal_No31165,"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [52]:
summer.index.is_unique

True

In [53]:
summer.index.name = "Medal_No"

In [54]:
summer.head()

,Athlete,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Medal_No,,,,,,,,,
Medal_No1,"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
Medal_No2,"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
Medal_No3,"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
Medal_No4,"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
Medal_No5,"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [55]:
summer.reset_index()

,Medal_No,Athlete,Year,City,Sport,Discipline,Country,Gender,Event,Medal
0,Medal_No1,"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
1,Medal_No2,"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
2,Medal_No3,"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
3,Medal_No4,"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
4,Medal_No5,"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...,...
31160,Medal_No31161,"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
31161,Medal_No31162,"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
31162,Medal_No31163,"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
31163,Medal_No31164,"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
31164,Medal_No31165,"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

### Changing Column Labels

In [56]:
import pandas as pd

In [57]:
titanic = pd.read_csv("titanic.csv")

In [58]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [59]:
titanic.tail()

     survived  pclass     sex   age  sibsp  parch   fare embarked deck
886         0       2    male  27.0      0      0  13.00        S  NaN
887         1       1  female  19.0      0      0  30.00        S    B
888         0       3  female   NaN      1      2  23.45        S  NaN
889         1       1    male  26.0      0      0  30.00        C    C
890         0       3    male  32.0      0      0   7.75        Q  NaN

In [60]:
titanic.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'deck'],
      dtype='object')

In [61]:
titanic.columns[0]

'survived'

In [ ]:
#titanic.columns[0] = "Alive"

In [62]:
titanic.columns = ["Alive", "Class", "Sex", "Age", "SibSp", "ParChi", "Fare", "Emb", "Deck"]

In [63]:
titanic.head()

   Alive  Class     Sex   Age  SibSp  ParChi     Fare Emb Deck
0      0      3    male  22.0      1       0   7.2500   S  NaN
1      1      1  female  38.0      1       0  71.2833   C    C
2      1      3  female  26.0      0       0   7.9250   S  NaN
3      1      1  female  35.0      1       0  53.1000   S    C
4      0      3    male  35.0      0       0   8.0500   S  NaN

In [68]:
titanic.columns.name

'Pass_Charact'

In [66]:
# The .name attribute of an Index object is used to assign a name to the entire column
titanic.columns.name = "Pass_Charact"

In [67]:
titanic.head()

Pass_Charact  Alive  Class     Sex   Age  SibSp  ParChi     Fare Emb Deck
0                 0      3    male  22.0      1       0   7.2500   S  NaN
1                 1      1  female  38.0      1       0  71.2833   C    C
2                 1      3  female  26.0      0       0   7.9250   S  NaN
3                 1      1  female  35.0      1       0  53.1000   S    C
4                 0      3    male  35.0      0       0   8.0500   S  NaN

In [69]:
titanic.index.name = "Passenger_no"

In [70]:
titanic.head()

Pass_Charact  Alive  Class     Sex   Age  SibSp  ParChi     Fare Emb Deck
Passenger_no
0                 0      3    male  22.0      1       0   7.2500   S  NaN
1                 1      1  female  38.0      1       0  71.2833   C    C
2                 1      3  female  26.0      0       0   7.9250   S  NaN
3                 1      1  female  35.0      1       0  53.1000   S    C
4                 0      3    male  35.0      0       0   8.0500   S  NaN

### Renaming Index & Column Labels

In [71]:
import pandas as pd

In [72]:
summer= pd.read_csv("summer.csv", index_col = "Athlete")

In [73]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [ ]:
#summer.index[0] = 'HAYOS, Alfred' will not work

In [74]:
summer.rename(mapper = {"HAJOS, Alfred":'HAYOS, Alfred'}, axis = "index")
# renames a specific index label in the summer DataFrame from "HAJOS, Alfred" to "HAYOS, Alfred".

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAYOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [75]:
summer.rename(index = {"HAJOS, Alfred":'HAYOS, Alfred'}, inplace = True)

In [76]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAYOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [77]:
summer.rename(mapper = {"Sex":"Gender", "City":"Host_City"}, axis = "columns")

,Year,Host_City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAYOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [78]:
summer.rename(columns = {"Sex":"Gender", "City":"Host_City"}, inplace = True)
# inplace=True modifies the summer DataFrame directly,

In [79]:
summer

,Year,Host_City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAYOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze